#biapp {
  margin-left: -20px;
  #all_header {
    margin-top: 2px;
    width: calc(100% - 161px) !important;
  }
  .arrow {
    position: static !important;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .Toastify__toast-container--top-right {
    top: calc(1em + 30px);
  }

  .main_content_dashboard {
    height: 100% !important;
  }

  .sidebar {
    position: fixed !important;
  }

  .bi-intergration_layout {
    margin-left: 80px;
  }
}

#wpfooter {
  display: none;
}

#wpbody-content {
  padding-bottom: 0 !important;
}

.error,
.notice,
.updated {
  display: none;
}
