#biapp {
  margin-left: -20px;
  #all_header {
    margin-top: 2px;
    width: calc(100% - 161px) !important;
  }
  .arrow {
    position: static !important;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .Toastify__toast-container--top-right {
    top: calc(1em + 30px);
  }

  .main_content_dashboard {
    height: 100% !important;
  }
  #all_header .wrapper_header_logo {
    display: none !important;
  }

  aside.sidebar,
  .item_collap {
    display: none !important;
  }
}

#wpfooter {
  display: none;
}

#wpbody-content {
  padding-bottom: 0 !important;
}

.error,
.notice,
.updated {
  display: none;
}

#wpbody .update-nag {
  display: none;
}

body[class*='aesirx-bi'] .notice-bi {
  display: block !important;
}
.notice-bi {
  z-index: 99;
  position: relative;
  top: 80px;
}
